<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Friends App</span>
    <div>
      <% if current_user %>

          <li class="nav-item">
          <%= link_to "Profile", profile_path, class: "nav-link" %>
          </li>

        <p class="d-inline me-2">Hello, <%= current_user.name %></p>
        <%= button_to "Logout", logout_path, method: :delete, class: "btn btn-danger", form_class: "d-inline" %>
      <% else %>
        <%= link_to "Login", login_path, class: "btn btn-primary" %>
        <%= link_to "Sign Up", new_user_path, class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</nav>
